@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	background: #001a25;

}
#toggle {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 60px;
	height: 60px;
	background: #03a9f4;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
#toggle::before {
	content: '';
	position: absolute;
	width: 28px;
	height: 2px;
	background: #fff;
	transform: translateY(-5px);
	transition: 0.2s;
}
#toggle::after {
	content: '';
	position: absolute;
	width: 28px;
	height: 2px;
	background: #fff;
	transform: translateY(5px);
	transition: 0.3s;
}
#toggle.active::before {
	transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
	transform: translateY(0px) rotate(-45deg);
}
#sidebar {
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100vh;
	background: #003147;
	transition: 0.5s;
}
#sidebar.active {
	left: 0px;
}
#sidebar ul {
	position: relative;
	margin-top: 50px;

}
#sidebar ul li {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	padding: 10px 40px;
}
#sidebar ul li:hover {
	background: #03a9f4;
}
#sidebar ul li  a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
	letter-spacing: 2px;
}
.display h1 {
	color: #ff9999;
	text-align: center;
	position: absolute;
	top: 100px;
	max-width: 600px;
	display: flex;
	left: 30%;
	right: 30%;
}
.heading.hey {
	display: none;
}
.display h2 {
	color: #fff;
}